@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
.hero-img{
    width: 100%;
    height: 590px;
    background-image: url(https://html.dynamiclayers.net/dl/charitify/img/slider-3.jpg);
    background-repeat: no-repeat, repeat;
    background-size: cover;
    display: flex;
    justify-content: left;
}
.hero-text{
    width: 43%;
    height: 350px;
    color: white;
    display: flex;
    flex-direction: column;
    font-family: jost;
    background-color: #F8B864;
    margin-top: 200px;
    margin-left: 70px;
}
.hero-heading{
    font-size: 45px;
    margin-top: 15px;
    font-weight: 600;
    margin-left: 30px;
}
.hero-p-1{
    font-size: 17px;
    font-weight: 500;
    margin-left: 30px;
}
.hero-para-2{
    font-size: 16px;
    margin-top: 20px;
    font-weight: 400;
    margin-left: 30px;
}
.hero-section-btns{
     width: 100%;
     display: flex;
     margin-top: 20px;
     flex-wrap: wrap;
     /* justify-content: center;
     align-items: center; */
}
.hero-btns{
    border: 1px solid black;
    height: 50px;
    width: 160px;
    margin: 7px;
    align-self: center;
    margin-left: 30px;
    background: white;
    color: black;
}
.hero-btns:hover{
    background-color: rgba(255, 255, 255, 0.315);
}



/* ============================================================================ */

/* -------------------------------media quries---------------------------------- */

/* ============================================================================== */

@media(max-width: 1124px) {
     /* --------------------------left text herose------------------------ */
    .hero-text{
        width: 45%;
        height: 100%;
        margin-top: 0px;
        margin-left: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .hero-section-btns{
        display: flex;
        align-items: left;
        margin-top: 50px;
   }
}





@media only screen and (min-width: 576px) and (max-width: 767px){
/* --------------------------left text herose------------------------ */
.hero-img{
    height: 540px;
}
.hero-section-btns{
    display: flex;
    align-items: left;
    margin-top: 50px;
}
}





@media only screen and (min-width: 425px) and (max-width: 599px) {
/* --------------------------left text herose------------------------ */
.hero-img{
    height: 510px;
}
.hero-text{
    width: 57%;
}
.hero-heading{
    font-size: 35px;
    margin-top: 15px;
    font-weight: 600;
    margin-left: 30px;
}
}






@media only screen and (min-width: 288px) and (max-width: 425px) {
/* --------------------------left text herose------------------------ */
.hero-img{
    height: 430px;
}
.hero-text{
    width: 60%;
}
.hero-heading{
    font-size: 30px;
}
.hero-p-1{
   margin-top: 30px;
}
.hero-para-2{
    font-size: 14px;
    margin-top: 10px;
}
.hero-section-btns{
     margin-top: 0px;
}
.hero-btns{
    margin-top: 15px;
    height: 40px;
    width: 100px;
    margin-left: 25px;
}
}